#**Analisis Pola Penjualan dan Minat Konsumen Adidas di Berbagai Wilayah Amerika Serikat**

#**Import Library**

In [ ]:
import pandas as pd

#**Memuat Dataset**

In [ ]:
file = "/content/data_sales (1).csv.zip"
df = pd.read_csv(file)

In [ ]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet

In [ ]:
df.tail()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
9636,Amazon,1185732,11/18/2021,Northeast,Maine,Portland,Men's Apparel,$65.00,150,"9,750","$2,438",Outlet
9637,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,Women's Athletic Footwear,$65.00,150,"9,750","$2,438",Outlet
9638,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,Men's Apparel,$75.00,150,"11,250","$2,813",Outlet
9639,West Gear,1185732,4/10/2021,Midwest,Indiana,Indianapolis,Men's Apparel,$65.00,150,"9,750","$2,925",In-store
9640,Sports Direct,1185732,10/5/2021,Northeast,Connecticut,Hartford,Men's Apparel,$65.00,150,"9,750","$2,925",In-store

#**Business Understanding**

##**Business Objective**

Dataset penjualan adidas ini merupakan kumpulan data yang mencakup informasi tentang penjualan produk adidas. Dataset ini mencakup detail seperti jumlah unit yang terjual, total pendapatan penjualan, jenis produk yang terjual, metode penjualan, harga per unit barang, serta informasi relevan lainnya. Dalam dataset ini terdapat 9.640 baris dan 12 kolom. Data ini mencakup catatan penjualan dari berbagai peritel besar seperti Walmart, Foot Locker, West Gear, Sports Direct, Kohl's, dan Amazon di berbagai wilayah Amerika Serikat selama periode 2020 hingga 2021. Produk yang dijual meliputi pakaian dan alas kaki untuk pria dan wanita. Manajemen ingin mengetahui performa penjualan untuk meningkatkan strategi pemasaran dan distribusi produk yang mereka jual.

Permasalahan:
1. Produk mana yang memiliki profit margin tertinggi?
2. Wilayah mana yang memiliki penjualan dan profit paling tinggi?
3. Apakah terdapat perbedaan performa penjualan antara kota besar dan kota kecil?
4. Metode penjualan mana yang lebih efektif?

##**Assess Situation**

Situasi dalam dataset ini mencerminkan model bisnis modern, di mana produk Adidas dijual melalui berbagai peritel (Walmart, Amazon, Foot Locker, dll) dengan metode yang beragam (Online, In-store, Outlet). Tantangannya yaitu membedakan apakah selera pembeli dipengaruhi dari lokasi tempat tinggalnya atau dari toko tempat mereka belanja.

Data ini juga menyajikan informasi mengenai perbedaan karakteristik antarwilayah, yang memungkinkan perusahaan untuk menyesuaikan stok barang sesuai dengan minat konsumen di lokasi geografis tertentu. Tantangannya yaitu menentukan apakah sebuah produk yang laku di suatu wilayah, memang karena minat murni masyarakat setempat atau karena faktor eksternal sementara(cuaca sesaat, pengaruh diskon besar di satu toko, atau kemungkinan lainnya).

Data ini juga masih berupa kumpulan transaksi dan belum dianalisis untuk melihat pola, tren, maupun performa tiap produk dan wilayah. Tanpa adanya analisis pola dan tren, perusahaan cenderung mengambil keputusan berdasarkan pengamatan sekilas saja. Tantangannya, menyebabkan salah sasaran. Misalnya, perusahaan mungkin menganggap sebuah produk gagal karena penjualan harian yang rendah, padahal jika dianalisis secara tren, produk tersebut sedang mengalami pertumbuhan stabil di wilayah tertentu.

##**Analytic Goals**

Analisis ini bertujuan untuk memahami pola penjualan harian dengan menghitung rata-rata, nilai tengah, dan kestabilan angka penjualan. Selain itu, studi ini ingin melihat apakah perubahan harga berpengaruh pada jumlah barang yang terjual, serta membandingkan keuntungan antarwilayah dan jenis toko (toko fisik, online, atau outlet). Hasilnya akan digunakan sebagai panduan bagi perusahaan untuk mengatur stok barang dengan lebih tepat dan merancang strategi pemasaran yang lebih efektif di setiap daerah.

##**Project Plan**

Project plan ini dimulai dengan merapikan format data agar siap dihitung, lalu dilanjutkan dengan menghitung angka rata-rata dan stabilitas penjualan harian. Setelah itu, akan dilakukan analisis hubungan antara harga, jumlah pembeli, dan keuntungan di setiap daerah. Hasil akhirnya adalah rekomendasi strategi untuk menentukan lokasi penambahan stok serta cara promosi yang paling efektif guna meningkatkan penjualan.